langchain_experimental
langchain_community 
langchain 
ragas 
faiss-cpu 
tiktoken 
llama-index==0.10.32 
ollama 
llama-index-embeddings-ollama
chromadb
langchain-chroma
transformers
langgraph
langchain-openai
langchain_huggingface
huggingface_hub
langchain-ollama
langsmith
pymongo
boto3